/*
*******************************************************************************
* @NOME: boxplot.scss
* @DESCRIZIONE: box riassuntivo css
*******************************************************************************
*/


.boxPlot {

  //cerchiolino
  &__circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: linear-gradient(to right, $colore-primario-viola, $colore-primario-azzurro);
    margin: 0 auto 2rem auto;
    position: relative;

    &__number {
      @include posAbsCenter;
      font-size: 3rem;
      color: $colore-bianco;
    }
  }

  //svg
  &__svgbox {
    &-element {
      margin: 2rem auto 0 auto;
      display: block;
      font-size: $default-font-size;
      height: 10rem;
      width: 10rem;
    }
  }
}
